table {
  margin: 0 auto;
  width: 100%;
  padding: 15px;
}

table tr {
  border-bottom: 1px solid #ccc; /* garis pembatas pada setiap baris */
  padding-bottom: 10px;
}

table td {
  padding: 7px 0;
}

.my-link {
  text-decoration: none; /* menghilangkan garis bawah */
}

.my-link:hover {
  color: black; /* atau warna lain yang diinginkan */
}

.my-link:active {
  color: black; /* atau warna lain yang diinginkan */
  text-decoration: none; /* menghilangkan garis bawah */
}
