body {
  background-color: #f7f8fa;
}

.input-group {
  display: flex;
  align-items: center;
}

.harga {
  display: inline-block;
  margin-left: 10px;
}

.input-group input {
  width: 5px;
  margin: 0 5px;
}

.input-group button {
  width: 30px;
  height: 30px;
}

.card {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.card-image {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  width: 45%;
  align-items: center; /* tambahkan ini */
}

.card-price {
  width: 30%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-right {
  text-align: right;
}

.card-image img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: 0 auto;
  padding: 5px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.card-title {
  padding-top: 10px;
  text-align: left; /* hapus text-align: center; */
}

.luar {
  padding: 10px;
}

.btn-circle {
  background-color: darkblue;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0px 0;
  font-size: 18px;
  line-height: 1.428571429;
  border-radius: 15px; /* set radius sesuai dengan ukuran tombol */
}

#input {
  flex: unset;
  width: 40px;
  padding: 0;
  font-size: 20px;
  text-align: center;
  border: 0px;
}

#harga {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}

img {
  border-radius: 10px; /* atau ukuran lain sesuai keinginan */
}
