{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Detail Transaksi</title>
<link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock meta %}
{% block atas %} <span>Detail Transaksi</span> {% endblock atas %}
{% block content %}
<table>
{% for item in transaksi.detailtransaksi_set.all %}
  {% if item.jumlah > 0 %}
    <tr>
      <td style="width: 15%; padding-right: 5px; text-align: center; font-weight: bold; color: #1A72DD;">{{ item.jumlah }}</td>
      <td style="width: 55%;">{{ item.menu.nama }}</td>
      <td style="width: 40%; text-align: right; padding-right: 5px;">Rp {{ item.subtotal }}</td>
    </tr>
  {% endif %}  
{% endfor %}
<tr>
  <td colspan="2" style="font-weight: bold;">Subtotal</td>
  <td style="text-align: right; font-weight: bold; padding-right: 5px;">Rp {{ transaksi.total_harga }}</td>
</tr>
{% if transaksi.total_harga != detail_pembayaran.nominal_bayar %}
<tr>
  <td colspan="2" style="font-weight: bold;">Total Bayar</td>
  <td style="text-align: right; font-weight: bold; padding-right: 5px;">Rp {{ detail_pembayaran.nominal_bayar }}</td>
</tr>
{% endif %}
<tr>
  <td colspan="2" style="font-weight: bold;">Detail Pembayaran</td>
  <td style="text-align: right; font-weight: bold; padding-right: 5px;">
    <a href="{% url 'detail_pembayaran' transaksi.id %}" class="my-link"> > </a> </td>
</tr>
</table>
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: 10px;">
  {% if not transaksi.status %}
    <a href="{% url 'ubah' transaksi.id %}" style="color: #1A72DD; padding-bottom: 5px;"><i class="fas fa-pen"></i> Ubah Transaksi</a>
  {% endif %}
  <a href="{% url 'hapus' transaksi.id %}" style="color: red; padding-bottom: 5px;"><i class="fas fa-trash"></i> Hapus Transaksi</a>
</div>
{% if not transaksi.status %}
  <div class="card">
    <div class="card-body fixed-bottom justify-content-center">
      <button id="submit" type="submit" class="btn btn-primary rounded-5 p-3" style="width:100%;">
        Bayar
      </button>
    </div>
  </div>
{% endif %}
{% endblock content %} 
{% block script %}
<script src="{% static 'js/detail.js' %}"></script>
{% endblock script %}