{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Detail Transaksi</title>
<link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock meta %}
{% block atas %} <span>Detail Transaksi</span> {% endblock atas %}
{% block content %}
<table>
{% for item in transaksi.detailtransaksi_set.all %}
  {% if item.jumlah > 0 %}
    <tr>
      <td style="width: 15%; padding-right: 5px; text-align: center; font-weight: bold; color: #1A72DD;">{{ item.jumlah }}</td>
      <td style="width: 55%;">{{ item.menu.nama }}</td>
      <td style="width: 40%; text-align: right; padding-right: 5px;">Rp {{ item.subtotal }}</td>
    </tr>
  {% endif %}  
{% endfor %}
<tr>
  <td colspan="2" style="font-weight: bold; text-align: center;">Total</td>
  <td style="text-align: right; font-weight: bold;">Rp {{ transaksi.total_harga }}</td>
</tr>
</table>
{% if not transaksi.status %}
  <div class="card">
    <div class="card-body fixed-bottom justify-content-center">
      <button id="submit" type="submit" class="btn btn-primary rounded-5 p-3" style="width:100%;" data-toggle="modal" data-target="#exampleModal">
        Bayar 
      </button>
    </div>
  </div>

{% endif %}
   <!-- Modal -->
   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:999">
    <div class="modal-dialog d-flex align-items-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold ;">Bayar Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              Apakah Anda yakin ingin melakukan pembayaran? 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
              <button type="button" class="btn btn-primary">Iya</button>
            </div>
        </div>
      </div>
    </div>
{% endblock content %} 
{% block script %}
<script src="{% static 'js/detail.js' %}"></script>
{% endblock script %}