{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Kasir</title>
{% endblock meta %} {% block content %}
<h1>Kasir</h1>
<form id="form-kasir" method="post" action="{% url 'index' %}">
  {% csrf_token %}
  <table>
    <tr>
      <th>Menu</th>
      <th>Jumlah</th>
      <th>Harga</th>
      <th>Subtotal</th>
    </tr>
    {% for menu in menus %}
    <tr>
      <td>{{ menu.nama }}</td>
      <td><input type="number" name="{{ menu.nama }}" value="0" class="form-control jumlah-item" data-harga="{{ menu.harga }}" min="0"/></td>
      <td>{{ menu.harga }}</td>
      <td class="subtotal">0</td>
    </tr>
    {% endfor %}
  </table>
  <h3 id="total">0</h3>
  <button type="submit">Submit Order</button>
</form>
{% endblock content %} 
{% block script %}
<script src="{% static 'js/kasir.js' %}"></script>
{% endblock script %}