{% extends 'base.html' %} {% load static %} {% block meta %}
<title>List Transaksi</title>
<link rel="stylesheet" href="{% static 'css/list_transaksi.css' %}" />
{% endblock meta %}
{% block atas %} <span>List Transaksi</span> {% endblock atas %}
{% block content %}
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item" id="pending">
    <a class="nav-link active" id="pending2">Pending</a>
  </li>
  <li class="nav-item" id="selesai">
    <a class="nav-link" id="selesai2">Selesai</a>
  </li>
  </li>
</ul>
{% for transaksi in transaksis %}
  <div class="card d-flex margin-card hidden" data-transaksi-id="{{ transaksi.id }}">
    <div class="card-left">
      <div>Order #{{transaksi.id}}</div>
      <div>Total Item:{{transaksi.total_item}}</div>
    </div>
    <div class="card-center">
      <div>Rp {{ transaksi.total_harga|floatformat:0 }}</div>
    </div>
    <div class="card-right text-center">
      <div>{{ transaksi.waktu|time:"H:i" }}</div>
      <div>
        {% if transaksi.status %}
          <div class="status-box green">Sudah Bayar</div>
        {% else %}
          <div class="status-box red">Belum Bayar</div>
        {% endif %}
      </div>
    </div>
  </div>  
{% endfor %}
{% endblock content %} 
{% block script %}
<script src="{% static 'js/list_transaksi.js' %}"></script>
{% endblock script %}