{% extends 'base.html' %} {% load static %} {% block meta %}
<title>List Transaksi</title>
<link rel="stylesheet" href="{% static 'css/list_transaksi.css' %}" />
{% endblock meta %} {% block content %}
{% block atas %} <span>List Transaksi</span> {% endblock atas %}
{% for transaksi in transaksis %}
  <div class="card d-flex margin-card">
    <div class="card-left">
      <div>Order #{{transaksi.id}}</div>
      <div>Total item: {{transaksi.total_item}}</div>
    </div>
    <div class="card-content">
      <div>Rp {{ transaksi.total_harga|floatformat:0 }}</div>
    </div>
    <div class="card-price text-center">
      <div>{{ transaksi.waktu|time:"H:i" }}</div>
      <div>
        {% if transaksi.status %}
          <div class="status-box green">Sudah Bayar</div>
        {% else %}
          <div class="status-box red">Belum Bayar</div>
        {% endif %}
      </div>
    </div>
  </div>      
{% endfor %}
{% endblock content %} 
{% block script %}
{% block button %} Simpan {% endblock button %}
<script src="{% static 'js/kasir.js' %}"></script>
{% endblock script %}