{% extends 'base.html' %} {% load static %} {% block meta %}
<title>List Transaksi</title>
<link rel="stylesheet" href="{% static 'css/list_transaksi.css' %}" />
{% endblock meta %}
{% block atas %} <span>List Transaksi</span> {% endblock atas %}
{% block content %}
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item" id="pending">
    <a class="nav-link active" id="pending2">Pending</a>
  </li>
  <li class="nav-item" id="selesai">
    <a class="nav-link" id="selesai2">Selesai</a>
  </li>
  </li>
</ul>
{% for transaksi in transaksis %}
  <div id="card_transaksi" class="card d-flex margin-card hidden" data-transaksi-id="{{ transaksi.id }}">
    <div class="card-left">
      <div>Order #{{transaksi.id}}</div>
      <div>Total Item:{{transaksi.total_item}}</div>
    </div>
    <div class="card-center">
      {% if transaksi.total_harga != transaksi.nominal_bayar %}
      <div class="strike-through">Rp {{ transaksi.total_harga }}</div>
      <div>Rp {{ transaksi.nominal_bayar }}</div>
      {% else %}
      <div>Rp {{ transaksi.total_harga }}</div>
      {% endif %}
    </div>
    <div class="card-right text-center">
      <div>{{ transaksi.waktu|time:"H:i" }}</div>
      <div>
        {% if transaksi.status %}
          <div class="status-box green">Sudah Bayar</div>
        {% else %}
          <div class="status-box red">Belum Bayar</div>
        {% endif %}
      </div>
    </div>
  </div>  
{% endfor %}
<div class="card" style="border-width: 0;">
  <div class="card-body fixed-bottom justify-content-center">
    <h5>
      <div class="d-flex" style="font-size: medium;">
        <div>
          Total Pemasukan
        </div>
        <div class="ml-auto d-flex">
          <div>Rp&nbsp;</div>
          <div id="total">
            {{total_transaksi}}
          </div>  
        </div>
      </div>
      </h5>
  </div>
</div>
{% endblock content %} 
{% block script %}
<script src="{% static 'js/list_transaksi.js' %}"></script>
{% endblock script %}